Varshith

In [6]:
# 1)Write a code to create a string with your name and print it
str_name="Varshith"
print(str_name)

Varshith

In [ ]:
# 2)Write a code to find the length of the string "Hello World"
str="Hello World"
b=len(str)
print(b)

11

In [11]:
# 3)Write a code to slice the first 3 characters from the string "Python Programming"

str="Python Programming"
str[0:3]

'Pyt'

In [16]:
# 4)Write a code to convert the string "hello" to uppercase
str="hello"
str.upper()

'HELLO'

In [19]:
# 5)Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
str.replace("apple","orange")

'I like orange'

In [20]:
# 6)Write a code to create a list with numbers 1 to 5 and print it
list_num=[1,2,3,4,5]
for i in list_num:
    print(i)

1
2
3
4
5

In [23]:
# 7)Write a code to append the number 10 to the list [1, 2, 3, 4]
num_list=[1,2,3,4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

In [25]:
# 8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
new_list=[1,2,3,4,5]
new_list.remove(3)
print(new_list)

[1, 2, 4, 5]

In [27]:
# 9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=["a","b","c","d"]
list[1]

'b'

In [28]:
# 10)Write a code to reverse the list [10, 20, 30, 40, 50].

lis_new=[10,20,30,40,50]
lis_new[::-1]

[50, 40, 30, 20, 10]

In [ ]:
# 11)Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
new_tup=('red','green','blue','yellow')
new_tup[1:4]

('green', 'blue', 'yellow')

In [34]:
# 13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num_tuple=(10, 20, 5, 15)
min(num_tuple)

5

In [35]:
# 14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals_tup=('dog', 'cat', 'rabbit')
animals_tup.index("cat")

1

In [42]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("orange","apple","kiwi")
if "kiwi" in fruits:
    print("Kiwi is present")
else:
    print("kiwi is not present")

Kiwi is present