In [1]:
# 1)Write a code to create a string with your name and print it
str_name="Varshith"
print(str_name)

Varshith

In [2]:
# 2)Write a code to find the length of the string "Hello World"
str="Hello World"
b=len(str)
print(b)

11

In [3]:
# 3)Write a code to slice the first 3 characters from the string "Python Programming"

str="Python Programming"
str[0:3]

'Pyt'

In [4]:
# 4)Write a code to convert the string "hello" to uppercase
str="hello"
str.upper()

'HELLO'

In [5]:
# 5)Write a code to replace the word "apple" with "orange" in the string "I like apple"
str="I like apple"
str.replace("apple","orange")

'I like orange'

In [6]:
# 6)Write a code to create a list with numbers 1 to 5 and print it
list_num=[1,2,3,4,5]
for i in list_num:
    print(i)

1
2
3
4
5

In [7]:
# 7)Write a code to append the number 10 to the list [1, 2, 3, 4]
num_list=[1,2,3,4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

In [8]:
# 8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
new_list=[1,2,3,4,5]
new_list.remove(3)
print(new_list)

[1, 2, 4, 5]

In [9]:
# 9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=["a","b","c","d"]
list[1]

'b'

In [10]:
# 10)Write a code to reverse the list [10, 20, 30, 40, 50].

lis_new=[10,20,30,40,50]
lis_new[::-1]

[50, 40, 30, 20, 10]

In [11]:
# 11)Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

In [12]:
#12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
new_tup=('red','green','blue','yellow')
new_tup[1:4]

('green', 'blue', 'yellow')

In [13]:
# 13)Write a code to find the minimum number in the tuple (10, 20, 5, 15).
num_tuple=(10, 20, 5, 15)
min(num_tuple)

5

In [14]:
# 14)Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals_tup=('dog', 'cat', 'rabbit')
animals_tup.index("cat")

1

In [15]:
#15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("orange","apple","kiwi")
if "kiwi" in fruits:
    print("Kiwi is present")
else:
    print("kiwi is not present")

Kiwi is present

In [16]:
# 16) Write a code to create a set with the elements 'a', 'b', 'c' and print it
alpha_set={'a','b','c'}
print(alpha_set)

{'c', 'a', 'b'}

In [17]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num_set={1, 2, 3, 4, 5}
num_set.clear()
print(num_set)

set()

In [18]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers_set={1, 2, 3, 4}
numbers_set.remove(4)
print(numbers_set)

{1, 2, 3}

In [19]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1, 2, 3}
set2={3, 4, 5}
set3=set1|set2
print(set3)

{1, 2, 3, 4, 5}

In [20]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set_num1={1, 2, 3}
set_num2={2, 3, 4}
set_num3=set_num1&set_num2
print(set_num3)

{2, 3}

In [21]:
# 21) Write a code to create a dictionary with the keys "name", "age", and "city", and print it
my_dict={"Name":"Varshith","Age":23,"City":"Hyderabad"}
print(my_dict)

{'Name': 'Varshith', 'Age': 23, 'City': 'Hyderabad'}

In [22]:
# 22)Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
dict={'name': 'John', 'age': 25}
dict["country"]="Usa"
print(dict)

{'name': 'John', 'age': 25, 'country': 'Usa'}

In [23]:
 # 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
new_dict={'name': 'Alice', 'age': 30}
new_dict["name"]

'Alice'

In [24]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
new_dictionary={'name': 'Bob', 'age': 22, 'city': 'New York'}
del new_dictionary["age"]
print(new_dictionary)

{'name': 'Bob', 'city': 'New York'}

In [25]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
new1_dict={'name': 'Alice', 'city': 'Paris'}
if "city" in new1_dict:
    print("Exists")
else:
    print("no")

Exists

In [26]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2.3,"Hello"] #List
tuple=(2,3.1,"World") #Tuple
dict={'name': 'Alice', 'city': 'Paris'} #Dictionary
print(list)
print(tuple)
print(dict)

[1, 2.3, 'Hello']
(2, 3.1, 'World')
{'name': 'Alice', 'city': 'Paris'}

In [27]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
list_new=[]

for _ in range(5):
    list_new.append(random.randint(1, 100))

list_new.sort()
print(list_new)

[24, 30, 33, 44, 93]

In [28]:
# 28)Write a code to create a list with strings and print the element at the third index
strings_list=["Hello","apple","Cricket","PWSkills"]
strings_list[3]

'PWSkills'

In [29]:
# 29)Write a code to combine two dictionaries into one and print the result.
dict1={"Cricket":"Sachin"}
dict2={"King":"Kohli"}
dict3=(dict1,dict2)
print(dict3)

({'Cricket': 'Sachin'}, {'King': 'Kohli'})

In [ ]:
my_list = ["apple", "banana", "orange", "apple", "grape", "banana"]

my_set = set(my_list)

print(f"Original list: {my_list}")
print(f"Converted set: {my_set}")

Original list: ['apple', 'banana', 'orange', 'apple', 'grape', 'banana']
Converted set: {'apple', 'banana', 'grape', 'orange'}